<div class="parallax filter-gradient blue" data-color="blue">
    <div class="parallax-background">
        <img class="parallax-background-image" src="assets/img/template/bg3.jpg">
    </div>
    <div class= "container">
        <div class="row">
            <div class="col-md-5 hidden-xs">
                <div class="parallax-image">
                    <img class="pessoas" src="assets/img/template/ebaaaa.png"/> 
                </div>

            </div>
            <div class="col-md-6 col-md-offset-1">
                <div class="description">
                    <h2 style="font-weight: 900 ;">Tem quem queira</h2>
                    <br>
                    <h5>A plataforma que conecta os necessitados com as necessidade! O Tem quem queira é o projeto que busca unir todos os doadores que têm a intenção de ajudar as pessoas carentes com entidades que se responsabilizam por ajudar a boa causa do auxílio dos necessitados.</h5>
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="section section-gray section-clients">
    <div class="container text-center">
        <h4 class="header-text">Doadores, doações e entidades</h4>
        <p>
            Encontre entidades carentes perto de você de forma mais prática e ágil, com uma plataforma gratuita, open source e que apoia a causa dos <a href="https://nacoesunidas.org/pos2015/">17 objetivos para transformar nosso mundo</a> estipulados pela ONU, atendendo especificamente o <a href="https://nacoesunidas.org/pos2015/ods12/">objetivo nº 12</a> que visa assegurar os padrões de produção e consumo sustentável.<br>
        </p>
        <div class="logos">
            <ul class="list-unstyled">
				<li ><img src="assets/img/template/laundry.png"/></li>
                <li ><img src="assets/img/template/donation.png"/></li>
				<li ><img src="assets/img/template/handshake.png"/></li>
				<li ><img src="assets/img/template/peace.png"/></li>
				<li ><img src="assets/img/template/planet-earth.png"/></li>
            </ul>
        </div>
    </div>
</div>
<div class="section section-presentation">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="description">
                    <h4 class="header-text">Livre e Intuitivo</h4>
                    <p>Completamente <b>sem fins lucrativos</b>, <b>desvinculada de qualquer fundação privada</b>, com o intuito de <b>fazer a diferença</b>, nós, criadores desta plataforma, buscamos prestar um serviço de qualidade, resiliente e pronto para uso a qualquer momento! Caso tenha sugestões, não hesite em nos mandar um feedback para que possamos incrementar cada vez mais nossa ferramenta!
                    <p>A plataforma conta com uma interface fácil e direta, pronta para atender a necessidade do usuário, seja um doador ou uma entidade carente! Quanto mais pessoas a causa atingir, mais fácil será o processo de encontrar suas necessidades e mais pessoas serão beneficiadas pela ação voluntária.</p>
                    <p>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1 hidden-xs">
                <img class="maozinha" src="assets/img/template/team.png"/>
            </div>
        </div>
    </div>
</div>

<div class="section section-features">
    <div class="container">
        <h4 class="header-text text-center">Features</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-blue">
                    <div class="icon">
                        <img class="chat" src="assets/img/template/chat.png"/>
                    </div>
                    <div class="text">
                        <h4>Chat AO VIVO!</h4>
                        <p>Conversa entre interessados pela nossa plataforma online AO VIVO!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-blue">
                    <div class="icon">
                       <img class="maps" src="assets/img/template/maps.png"/>
                    </div>
                    <h4>Pontos de Coleta!</h4>
                    <p>Possibilidade de criação de pontos de coleta de doações!</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-blue">
                    <div class="icon">
                        <img class="star" src="assets/img/template/star.png"/>
                    </div>
                    <h4>Pontuação!</h4>
                    <p>Ganhe pontos de acordo com o seu empenho nas tarefas!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-testimonial">
    <div class="container">
        <h4 class="header-text text-center">COMENTÁRIOS DE USUÁRIOS</h4>
        <div id="carousel-example-generic" class="carousel fade" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="mask">
                        <img class="renata" src="assets/img/template/renata.jpeg">
                    </div>
                    <div class="carousel-testimonial-caption">
                        <p>Renata Lima</p>
                        <h3>"Super confiável e simples!"</h3>
                    </div>
                </div>
                <div class="item">
                    <div class="mask">
                        <img class="paulo" src="assets/img/template/paulo.jpeg">
                    </div>
                    <div class="carousel-testimonial-caption">
                        <p>Paulo Freitas</p>
                        <h3>"Gostei muito da idéia!"</h3>
                    </div>
                </div>
                <div class="item">
                    <div class="mask">
                        <img class="julia" src="assets/img/template/julia.jpeg">
                    </div>
                    <div class="carousel-testimonial-caption">
                        <p>Júlia Ferrari</p>
                        <h3>"Ameeeei, vou usar mais!"</h3>
                    </div>
                </div>
            </div>
            <ol class="carousel-indicators carousel-indicators-blue">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
        </div>
    </div>
</div>
<div class="section section-no-padding">
    <div class="parallax filter-gradient blue" data-color="blue">
        <div class="parallax-background">
            <img class ="parallax-background-image" src="assets/img/template/juntos.jpg"/>
        </div>
        <div class="info">
            <h1><b>Entre e faça a diferença na vida de muitos!</b></h1>
            <h2><b><3</b></h2>
            <a href="/login" class="btn btn-neutral btn-lg btn-fill">LOGIN</a>
        </div>
    </div>
</div>