.fa-donation {
    height: 25px;
    filter: invert(1);
    margin-top: -2px;
}

.pessoas {
position: absolute;
top: 382px;
right: 2px;
}

.criansaesperansakkk {
height: 90x;
width: 90px;
}

.chat{
height: 50x;
width: 50px;
margin-top: 30px;
}

.maps{
height: 50x;
width: 50px;
margin-top: 30px;
}

.star{
height: 65x;
width: 65px;
margin-bottom: -15px;
margin-top: 30px;
}

.renata{
transform: scale(2);
position: relative;
height: 250px;
width: 250px;
top: 20px;
}

.paulo{
transform: scale(2);
position: relative;
height: 250px;
width: 250px;
top: 20px;
}

.parallax-background-image{
    transform: scale(1.1);
    top: 20px;
    filter: saturate(180%);
position: relative;
}


.maozinha{
height: 500px !important;
width: 500px !important;
position: relative;
margin-top: 80px;
}