<!-- <app-chat></app-chat> -->
<div class="wrapper">
    <nav class="navbar navbar-transparent navbar-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="example" >
                <ul class="nav navbar-nav navbar-right" [ngClass]="{'inverted': url === '/location'}">
                    <li>
                        <a [routerLink]="['/location']">
                        <img src="../assets/img/ext-icons/8a7884609c.png" class="fa fa-donation"/>
                        Doe
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/home']">
                        <img src="../assets/img/ext-icons/25694.svg" class="fa fa-home"/>
                        Home
                        </a>
                    </li>
                    <li>
                        <a (click)="handleForm('login')" style="cursor: pointer">
                        <img src="../assets/img/ext-icons/130924.png" class="fa fa-login"/>
                        Login
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
    <router-outlet></router-outlet>
    <footer class="footer">
        <div class="container">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="/home">
                        Home
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        Doe
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        FAQ
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy; 2019 <a href="/home">Tem Quem Queira</a>, feito com carinho
            </div>
        </div>
    </footer>
</div>
<login *ngIf="showLoginForm" (blurEvent)="handleForm($event)"></login>