<div class="container-overlay" (click)="close()"></div>
<div class="container-r-sidebar" [ngClass]="{'animate' : animate}">
    <div class="header">
        <div class="container-abas">
            <div *ngFor="let aba of abasUnhidden()" class="container-aba"
                [ngStyle]="{'width' : aba.value === 'CENTROS DE CUSTO' ? '185%' : null}" (click)="selecionarAba(aba.value)">
                <span class="normal-bold">{{aba.value}}</span>
                <div *ngIf="aba.selecionado" class="subbar-aba"></div>
            </div>
        </div>
    </div>
    <div [ngSwitch]="aba()" style="padding: 0 20px" [ngStyle]="{'overflow' : (aba() === 'CADASTRO' && !cadastrado) ? 'overlay' : ''}">
        <div class="unhide" [ngClass]="{'hide' : autenticado}">
            <div *ngSwitchCase="'LOGIN'" class="form">
                <form [formGroup]="loginForm" class="form" (ngSubmit)="login()">
                    <mat-form-field style="margin-bottom: 15px;">
                        <mat-label>Usuário</mat-label>
                        <input matInput
                        type="text"
                        placeholder="Usuário"
                        [formControl]="loginForm.get('username')"/>
                        <mat-error *ngIf="loginForm.get('username').invalid">{{loginForm.get('username').hasError('required') ? 'Você deve informar um nome de usuário!' : ''}}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Senha</mat-label>
                        <input matInput
                        type="password"
                        placeholder="Senha"
                        [formControl]="loginForm.get('password')"/>
                        <mat-error *ngIf="loginForm.get('password').invalid">{{loginForm.get('password').hasError('required') ? 'Você deve informar uma senha!' : ''}}</mat-error>
                    </mat-form-field>
                    <br/>
                    <mat-error *ngIf="loginForm.get('username').invalid">{{loginForm.get('username').hasError('invalid') ? 'Usuário ou senha inválidos!' : ''}}</mat-error>
                    <br/>
                    <button mat-button type="submit">Login</button>
                </form>
            </div>
        </div>
        <div class="logedIn unhide" [ngClass]="{'hide' : !autenticado || hideWelcome}">
            Bem-vindo, {{user !== undefined && user !== null ? user.name.split(' ')[0] : ''}}!
        </div>
        <div class="unhide" [ngClass]="{'hide' : cadastrado}">
            <div *ngSwitchCase="'CADASTRO'" class="form">
                <form [formGroup]="signInForm" (ngSubmit)="signIn()">
                    <mat-form-field>
                        <mat-label>Nome completo</mat-label>
                        <input matInput
                        type="text"
                        placeholder="Nome"
                        [formControl]="signInForm.get('name')"/>
                        <mat-error *ngIf="signInForm.get('name').invalid">{{signInForm.get('name').hasError('required') ? 'Você deve informar seu nome!' : ''}}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>CEP</mat-label>
                        <input matInput
                        type="text"
                        placeholder="CEP"
                        mask="00000-000"
                        [formControl]="signInForm.get('cep')"/>
                        <mat-error *ngIf="signInForm.get('cep').invalid">{{signInForm.get('cep').hasError('required') ? 'Você deve informar um CEP!' : ''}}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Número da residência</mat-label>
                        <input matInput
                        type="text"
                        placeholder="Número"
                        mask="0*"
                        [formControl]="signInForm.get('number')"/>
                        <mat-error *ngIf="signInForm.get('number').invalid">{{signInForm.get('number').hasError('required') ? 'Você deve informar um número!' : ''}}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>E-mail</mat-label>
                        <input matInput
                        type="text"
                        placeholder="E-mail"
                        [formControl]="signInForm.get('email')"/>
                        <mat-error *ngIf="signInForm.get('email').invalid">{{signInForm.get('email').hasError('required') ? 'Você deve informar um e-mail!' : ''}}</mat-error>
                        <mat-error *ngIf="signInForm.get('email').invalid">{{signInForm.get('email').errors.validEmail ? 'Você deve informar um e-mail válido!' : ''}}</mat-error>
                    </mat-form-field>
                    <mat-form-field style="margin-bottom: 15px;">
                        <mat-label>Usuário</mat-label>
                        <input matInput
                        type="text"
                        placeholder="Usuário"
                        [formControl]="signInForm.get('username')"/>
                        <mat-error *ngIf="signInForm.get('username').invalid">{{signInForm.get('username').hasError('required') ? 'Você deve informar um nome de usuário!' : ''}}</mat-error>
                        <mat-error *ngIf="signInForm.get('username').invalid">{{signInForm.get('username').hasError('taken') ? 'Usuário já existente!' : ''}}</mat-error>
                    </mat-form-field>
                    <mat-form-field style="margin-bottom: 15px;">
                        <mat-label>Senha</mat-label>
                        <input matInput
                        type="password"
                        placeholder="Senha"
                        [formControl]="signInForm.get('password')"/>
                        <mat-error *ngIf="signInForm.get('password').invalid">{{signInForm.get('password').hasError('required') ? 'Você deve informar uma senha!' : ''}}</mat-error>
                        <mat-error *ngIf="signInForm.get('password').invalid">{{signInForm.get('password').hasError('unmatch') ? 'A senha e sua confirmação não são iguais!' : ''}}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Confirme sua senha</mat-label>
                        <input matInput
                        type="password"
                        placeholder="Senha"
                        [formControl]="signInForm.get('passwordConfirmation')"/>
                        <mat-error *ngIf="signInForm.get('passwordConfirmation').invalid">{{signInForm.get('passwordConfirmation').hasError('required') ? 'Você deve confirmar sua senha!' : ''}}</mat-error>
                        <mat-error *ngIf="signInForm.get('passwordConfirmation').invalid">{{signInForm.get('passwordConfirmation').hasError('unmatch') ? 'A senha e sua confirmação não são iguais!' : ''}}</mat-error>
                    </mat-form-field>
                    <br/>
                    <br/>
                    <mat-checkbox [checked]="donator" (change)="chooseProfile('donator')" style="margin-right: 20px;">Doador</mat-checkbox>
                    <mat-checkbox [checked]="entity" (change)="chooseProfile('entity')">Entidade</mat-checkbox>
                    <br/>
                    <br/>
                    <button mat-button type="submit">Cadastrar</button>
                </form>
            </div>
        </div>
        <div class="signedIn unhide" [ngClass]="{'hide' : !cadastrado}">
            Seu cadastro foi realizado com sucesso!
            <br/>
            Você será redirecionado para a aba de login em instantes para que possa entrar com suas credenciais.
        </div>
        <div class="unhide" [ngClass]="{'hide' : user === null && !autenticado}">
            <div *ngSwitchCase="'PERFIL'" class="profile">
                <div class="container-dados">
                    <div class="container-foto">
                        <img src="../../../assets/img/ext-icons/no-photo7.png">
                    </div>
                    <div class="container-info">
                        <span class="text-label">Nome</span>: <span class="text-label">{{user.name}}</span>
                        <br/>
                        <span class="text-label">Perfil</span>: <span class="text-label">Doador</span>
                        <br/>
                        <span class="text-label">Pontos</span>: <span class="text-label">{{user.points}}</span>
                        <span class="text-label-edit" style="cursor: pointer">Editar</span>
                    </div>
                </div>
                <div class="container-doacoes">
                    <span class="text-label">Doações</span>

                </div>
            </div>
        </div>
    </div>
</div>