<adress-form [DoE]="DoE"
(blurEvent)="showForm = !showForm"
*ngIf="showForm"></adress-form>
<div class="container-landing">
    <div class="container-left" (click)="openForm('D')">
        <div class="container-background"></div>
        <span class="text-button">Doador</span>
    </div>
    <div class="container-right" (click)="openForm('E')">
            <div class="container-background"></div>
            <span class="text-button">Entidade carente</span>
    </div>
    <div class="container-center">
        <span class="main-text">
                Selecione qual perfil você se encaixa
            </span>
        <br/>
    </div>
</div>