.back {
    position: absolute;
    left: 5px;
    top: 5px;
    cursor: pointer;
}

.lds-ellipsis div {
    background: black;
}

agm-map {
    position: relative;
    top: 12px;
    height: 300px;
}