<div class="container-modal-60w">
    <i class="material-icons back unhide" [ngClass]="{'hide' : step === 0}" (click)="back()">arrow_back</i>
    <div class="container-step-0 unhide" [ngClass]="{'hide' : step !== 0}">
        <div class="text-label">
            Nos informe seu CEP
        </div>
        <form [formGroup]="locationForm" (ngSubmit)="searchAdress(locationForm.controls['cep'].value)">
            <mat-form-field>
                <mat-label>CEP</mat-label>
                <input matInput
                type="text"
                placeholder="CEP"
                [formControl]="locationForm.get('cep')"
                mask="00000-000"/>
                <mat-error *ngIf="locationForm.get('cep').invalid">{{locationForm.get('cep').hasError('required') ? 'Você deve informar um CEP!' : ''}}</mat-error>
            </mat-form-field>
            <br/>
            <button mat-button type="submit">Buscar</button> 
        </form>
    </div>
    <div class="container-step-1 unhide" [ngClass]="{'hide' : step !== 1}">
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div><br/>
        <span class="text-loading">Estamos buscando {{ DoE === 'D' ? 'entidades carentes' : 'doadores disponíveis'}} próximos a você</span>
    </div>
    <div class="container-step-2 unhide" [ngClass]="{'hide' : step !== 2}">
        <span class="text-loading">Estamos buscando {{ DoE === 'D' ? 'entidades carentes' : 'doadores disponíveis'}} próximos a você</span>
        <br/>
        <agm-map [latitude]="lat" [longitude]="long" [zoom]="15">
            <agm-marker [latitude]="lat" [longitude]="long"></agm-marker>
        </agm-map>
    </div>
</div>
<div class="container-overlay" (click)="close()"></div>