/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.logos .list-unstyled img {
    filter: invert(0.07);
    width: 85px;
}

.container-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0, 0.65);
  top: 0;
  z-index: 1030;
}

.container-modal-60w {
  position: fixed;
  width: 60vw;
  height: auto;
  left: 20vw;
  top: 5vh;
  background: white;
  z-index: 1031;
  border-radius: 3px;
  padding: 30px 20px;
  text-align: center;
}

.container-r-sidebar {
  position: fixed;
  width: 350px;
  height: 100%;
  right: -350px;
  top: 0;
  background: white;
  z-index: 1031;
  border-radius: 3px;
  padding: 30px 20px;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.text-label {
  font-family: 'Roboto';
  font-weight: 375;
  font-size: 22px;
  margin-bottom: 15px;
}

.text-loading {
  font-family: 'Roboto';
  font-weight: 350;
  font-size: 15px;
}

.animate {
  right: 0;
}

.hide {
    animation: fadeOut 0.3s forwards;
}

.unhide {
    animation: fadeIn 0.3s forwards;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }

@keyframes slideUp {
    from {top: inital;}
    to {top: 15%;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}